@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b49cb0;
}

.header{
  background-color: #e07082;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -1%;
  margin-left: -1%; 
  margin-right: -1%;
}

#corner-logo{
  width: 3%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 1%;
  margin-left: 1%;
}

.header-text{
  margin-top: 2%;
  color: white;
  font-size: 10px;
}

#title {
  width: 15%;
  height: auto;
  top: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

.middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: yellowgreen;
}

.middle-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: purple;
}

.middle-left-top{
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.middle-left-bottom{
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 30%;
  margin: 10%;
  background: #00bfb6;
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-family: arial;
  border-radius: 15px;
  position:relative;
}

#Solace {
  
  width: 20%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.result {
  font-weight: bold;
  margin-top: 40px;
}

.bottom{
  background-color: #e07082;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  bottom: 0;
}
#big-logo{
  width: 15%;
  height: auto;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 80px;
  }
}