<!DOCTYPE html>
<head>
  <title>Solace</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='Solace-Logo.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <div class="header">
    <div class="header-text">Authentic Conversations</div>
    <div class="header-text">Mind Reader</div>
    <div class="header-text">Always knows the right thing to say</div>
    <img src={{ url_for('static', filename='Solace-Title.png')}} id="title"></img>
    <img src={{ url_for('static', filename='Solace-Logo.png') }} id="corner-logo"></img>
  </div>
  <div class="middle">
    <div class = "middle-left">
      <div class ="middle-left-top">
        {% if result %}
        <div class="box" placeholder="Hello! I'm Solace. Ask me anything">{{ result }}</div>
        {% endif %}
      </div>
      <div>.</div>
      <div class = "middle-left-bottom">
        <form action="/" method="post">
          <input type="text" name="prompt" placeholder="Whats on your mind?" required/>
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
    <img src={{ url_for('static', filename='Neutral.png')}} id="Solace"></img>
  </div>
  <div class="bottom">
    <img src={{ url_for('static', filename='Solace-Logo.png') }} id="big-logo"></img>
    <div class="bottom-name"></div>
    <div class="bottom-name">Daniel Pasion</div>
    <div class="bottom-name">Cesar Henry De Paula</div>
    <div class="bottom-name">Natalie Sarabia</div>
  </div>
</body>
